@import "tailwindcss";

*{
  box-sizing: border-box;
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


@layer components{
    .navBar{
        @apply flex justify-between items-center sm:block w-[100%] sticky px-6 py-3;
    }
    .adds{
        @apply flex bg-black text-white justify-between sm:justify-around w-full px-5 py-10 mt-1 ;
    }
    .newArrivals{
        @apply grid grid-cols-3 gap-3 w-auto 
    }
    .footer{
        @apply grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-5 gap-4 bg-black text-white text-[11px] mt-15 p-8 items-center
    }
    .input{
        @apply border-b-1 placeholder:text-[10px]
    }
    .register{
        @apply flex gap-12 items-center justify-center  mt-15 p-3
    }
    .signUp{
        @apply w-[400px] lg:w-[600px] flex flex-col gap-3
    }
    .contact{
        @apply flex flex-col sm:flex-row gap-4 sm:justify-evenly p-3 mt-6
    }

}



@layer base{
    .navList{
        @apply hidden sm:flex items-center justify-between gap-10;
    }
    .mobileNavList{
        @apply rounded-l fixed top-0 right-0 h-55 w-50 bg-white shadow-xl p-3 
    }
    .navList > li{
            @apply text-[40px] sm:text-[12px]
        }
        .navList > li:hover{
            @apply bg-red-500 p-4 text-white
        }
        .addsText{
            @apply text-xl sm:text-4xl w-[45%] flex flex-col gap-3
        }
        .date{
            @apply text-lg font-bold 
        }
        .viewAll{
            @apply bg-red-500 text-center p-1 rounded w-30 text-[9px] m-auto
        }
        .addToCart{
            @apply bg-black text-white text-center text-[10px] absolute bottom-0 left-0 right-0 p-1
        }
        .productList{
            @apply  flex gap-4 overflow-auto
        }
        .intro{
           @apply flex items-center justify-between gap-6 mt-3
        }
        .arrivalProducts{
            @apply bg-black relative
        }
        .arrivalProducts > img{
            @apply -z-10 object-scale-down h-full mx-auto
        }
        .addsDetails {
            @apply flex flex-col gap-2 absolute bottom-2 left-2 text-white text-[8px] sm:text-[12px]
        }
        .tag{
            @apply border-l-8 text-red-500 text-[11px] font-bold
        }
        .guarantyLists{
            @apply flex justify-between gap-6 items-center
        }
        .footerContent > *{
            @apply mt-3
        }
        input{
            @apply focus:outline-0
        }
        .story{
            @apply flex flex-col gap-6 max-w-[700px] min-sm:text-lg
        }
        .descriptions{
            @apply flex gap-4 flex-wrap justify-center mt-30 mb-30
        }
        .desc{
            @apply border rounded-lg p-4 flex flex-col items-center min-w-[180px] bg-white shadow-sm 
        }
        .desc:hover{
            @apply bg-red-500 text-white
        }
        .desc > div:nth-child(1){
            @apply mb-2 text-2xl 
        }
        .desc > div:nth-child(2){
            @apply font-bold text-lg mb-1 text-center
        }
        .desc > div:nth-child(3){
            @apply text-[10px] text-center font-bold
        }
        .team{
            @apply flex gap-4 justify-center items-center
        }
        .call{
            @apply flex flex-col gap-4 text-[12px] w-[200px] bg-white shadow-xl drop-shadow-white rounded p-4 font-bold
        }
        .userData{
            @apply flex gap-2 items-center flex-wrap
        }
        .userData > input{
            @apply bg-gray-200 placeholder:text-[12px]  p-1
        }
        textarea{
            @apply bg-gray-200 text-[12px]
        }
        textarea:focus{
            @apply outline-0
        }
        .send{
            @apply bg-red-500 text-white text-[13px] p-2 text-center rounded w-[160px]
        }
        .messages{
            @apply flex flex-col justify-center gap-4 w-auto p-4 bg-white shadow-xl
        }
}

