@import "tailwindcss";

*{
  box-sizing: border-box;
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.grid-container{
    grid-auto-rows: 0;
}


@layer components{
    .navBar{
        @apply flex justify-between items-center sm:block w-[100%] sticky px-6 py-3;
    }
    .adds{
        @apply flex bg-black text-white justify-between sm:justify-around w-full px-5 py-10 mt-1 ;
    }
    .newArrivals{
        @apply grid grid-cols-2
    }
}



@layer base{
    .navList{
        @apply hidden sm:flex items-center justify-between gap-10;
    }
    .mobileNavList{
        @apply rounded-l fixed top-0 right-0 h-55 w-50 bg-white shadow-xl p-3 
    }
    .navList > li{
            @apply text-[40px] sm:text-[12px]
        }
        .addsText{
            @apply text-xl sm:text-4xl w-[45%] flex flex-col gap-3
        }
        .date{
            @apply text-lg font-bold 
        }
        .viewAll{
            @apply bg-red-500 text-center p-1 rounded w-30 text-[9px] m-auto
        }
        .addToCart{
            @apply bg-black text-white text-center text-[10px] absolute bottom-0 left-0 right-0 p-1
        }
        .productList{
            @apply  flex gap-4 overflow-auto
        }
        .intro{
           @apply flex items-center justify-between gap-6 mt-3
        }
        .arrivalProducts{
            @apply bg-black text-white
        }
        .arrivalProducts > img{
            @apply -z-10 max-w-[250px] object-cover
        }
        .addsDetails {
            @apply flex flex-col gap-2
        }
}

